<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="Code" type="number" name="code" min="100" max="800" step="100" value="100">
        </div>
        <div class="field">
            <label>Temperature</label>
            <input placeholder="Temperature" type="number" name="temperature" min="-55" max="55" value="0">
        </div>
        <div class="field">
            <label>Windspeed</label>
            <input placeholder="Windspeed" type="number" name="windSpeed" min="1" max="117" value="1">
        </div>
        <div class="field">
            <label>Wind Direction</label>
            <input placeholder="Wind Direction" type="number" name="windDirection" min="0" max="360" value="0">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="Pressure" type="number" name="pressure" min="870" max="1090" value="1000">
        </div>
    </div>
    <button class="ui blue submit button">Add a New Weather Reading</button>
</form>



//https://www.w3schools.com/html/html_form_input_types.asp