
<div class="ui five column divided grid">
    <div class="stretched row">
        <div class="column">
            <div class="ui inverted segment">
                <h3>Station: &ensp; <i class="white map marker alternate low icon"></i></h3></h3>
                <h2> ${_station.name}</h2>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted red segment">
                <h3>Weather: </h3>
                <h4>${_weatherCode}</h4>
                #{if _weatherCode =="Clear"}
                <i class="white huge sun outline icon"></i>
                #{/if}
                #{if _weatherCode =="Partial Clouds"}
                <i class="white huge cloud sun icon"></i>
                #{/if}
                #{if _weatherCode == "Cloudy"}
                <i class="white huge cloud icon"></i>
                #{/if}
                #{if _weatherCode == "Light Showers"}
                <i class="white huge cloud rain icon"></i>
                #{/if}
                #{if _weatherCode == "Heavy Showers"}
                <i class="white huge cloud showers heavy icon"></i>
                #{/if}
                #{if _weatherCode == "Rain"}
                <i class="white huge umbrella icon"></i>
                #{/if}
                #{if _weatherCode == "Snow"}
                <i class="white huge snowflake icon"></i>
                #{/if}
                #{if _weatherCode == "Thunder"}
                <i class="white huge bolt icon"></i>
                #{/if}
                #{if _weatherCode == "Crap Data"}
                <i class="white huge skull crossbones icon"></i>
                #{/if}
            </div>
        </div>
        <div class="column">
            <div class="ui inverted blue segment">
                <h3>Temperature: &ensp; <i class="white temperature low icon"></i></h3></h3>
                <h4> ${_station.readings.temperature.last()} Celsius</h4>
                <h4> ${_station.readings.temperature.last()*9/5+32} Fahrenheit</h4>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted green segment">
                <h3>Wind:&ensp; <i class="white wind icon"></i></h3>
                <h4>Strength: ${_beauCode} bft</h4>
                <h4>Direction: ${_compassDirection}</h4>
                <h4>Feels like: ${_windChillTemp}</h4>
            </div>
        </div>
        <div class="column">
            <div class="ui inverted purple segment">
                <h3>Pressure: &ensp; <i class="white chart bar icon"></i></h3>
                <h4>${_station.readings.pressure.last()} hPa </h4>
            </div>
        </div>
    </div>
</div>


