#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}
<!--This is the about page.-->
<section class="ui center aligned middle aligned inverted blue segment">
    <p>
        WeatherTop 1000 - Version 4: Release 2
    </p>
</section>
<div class="ui two column middle aligned grid basic segment">
    <div class="column">
        <div class="ui secondary inverted blue segment">
            <h2>Background:</h2>
            <p>
                WeatherTop Inc. produce a modular weather station called the WeatherTop 1000. This lowcost
                device takes a set of meteorological readings and displays these on a simple LCD
                display. This is the Web application for the device. </p>

            <p> As WeatherTop Inc. are new to the software industry they are looking to ameliorate any
                risk by insisting on a working version of the application, even if not all of the features they
                requested are implemented. They have structured an incremental payment schedule
                accordingly, with 5 versions as follows:
                Version Package Label Payment </p>
        </div>
        <div class="ui tertiary inverted violet segment">
            <h2>Did you know?</h2>
            <p>
                Weathertop was the common Bree-land name of the hill, and is self-descriptive;
                the summit of the mountain was almost always windy, due to its prominence.
                Its Sindarin name, Amon Sûl, meant Hill of the Wind.
            </p>
        </div>

    </div>
    <div class="column">
        <div class="ui tertiary inverted blue segment">
            <h2>What does this version include?</h2>
            <p>
                This version includes the follwing weather data:
            </p>
            <ul class="ui inverted list">
                <li> Weather Code (number in range 100-800), integer</li>
                <li>Temp (C) decimal</li>
                <li>Wind Speed (kM/hr) decimal</li>
                <li>Pressure (hPa) Number</li>
                <li>Wind Direction</li>
                <li>User Accounts</li>
                <li>Location of Station</li>
                <li>Current Weather Icon</li>
                <li>Max/Min Values
            </ul>
            <p>
                The dashboard for the application presents, for each station, the latest weather at
                that station including Wind Compass and Wind Chill. </br></br> As user you can add & delete stations and
                weather readings.

            </p>
        </div>
    </div>
</div>
<img class="ui fluid circular image" src="/public/images/pier.jpg">
<div class="ui center aligned middle aligned inverted blue footer segment">
    <p>© 2021 WeatherTop Inc.</p>
</div>