#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Weather Top - Release 1.0
    </h1>
    <p>
        This is a small weather APP
    </p>
</section>
<div class="ui two column middle aligned grid basic segment">
    <div class="column">
        <form class="ui stacked segment form" action="/authenticate" method="POST">
            <h3 class="ui header">Log-in</h3>
            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email">
            </div>
            <div class="field">
                <label>Password</label> <input type="password" name="password">
            </div>
            <button class="ui blue submit button">Login</button>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="/public/images/weather_front.jpg">
    </div>
</div>
