#{extends 'main.html' /}
#{set title:'About' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned inverted blue segment">
    <h1 class="ui header">
        Welcome to WeatherTop 1000  - Version 4: Release 2
    </h1>
    <p>
        This is a small weather APP by WeatherTop. Login to start using the app. If you are a new user please register
        as a new user.
    </p>
</section>
<div class="ui two column middle aligned grid basic segment">
    <div class="column">
        <div class="ui secondary inverted blue segment">
            <h2>Login to your account:</h2>
        </div>
        <form class="ui stacked segment form" action="/authenticate" method="POST">
            <h3 class="ui header">Log-in</h3>
            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email">
            </div>
            <div class="field">
                <label>Password</label> <input type="password" name="password">
            </div>
            <button class="ui red submit button">Login</button>
        </form>
        <div class="ui tertiary inverted grey segment">
            <h3>Press <a href="/signup">Sign up</a> to register a new account</h3>
        </div>
    </div>

    <div class="column">
        <img class="ui image" src="/public/images/weather_front.jpg">
    </div>
</div>
<div class="ui center aligned middle aligned inverted blue footer segment">
    <p>© 2021 WeatherTop Inc.</p>
</div>


