#{extends 'main.html' /}
#{set title:'Weather-Top' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <h2 class="ui header">
        ${station.name}
    </h2>
    <!--  This section passes thru parameters to the latest weather data, if statement to ensure no error when no read.-->
    #{if latestRead != null }
    #{latestRead station:station, weatherCode:weatherCode,
    beauCode:beauCode, compassDirection:compassDirection,
    windChillTemp:windChillTemp,
    minTemperature:minTemperature, maxTemperature:maxTemperature,minWindSpeed:minWindSpeed,
    maxWindSpeed:maxWindSpeed, minPressure:minPressure, maxPressure:maxPressure/}
    #{/if}
    <!--  Allows for adding readings for a station with no data-->
    #{listReadings station:station /}
    #{addReading station:station /}

</section>
<div class="ui center aligned middle aligned inverted blue footer segment">
    <p>© 2021 WeatherTop Inc.</p>
</div>

